<table class="table table-striped table-dark heading">
    <thead>
      <tr>
        <th scope="col">Request Id</th>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col-5">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards">
        <td>{{card.ReqId}}</td>
        <td>{{card.UserId}}</td>
        <td>{{card.UserName}}</td>
        <td>{{card.type}}</td>
        <td><button class="btn btn-danger" (click)="deleteuser(card.UserName)">accept</button></td>
      </tr>
    </tbody>
  </table>