<nav class="navbar navbar-expand navbar-dark bg-dark px-2 sticky-top">

  <button class="btn btn-danger" mat-raised-button (click)="openDialog()">
    Add Game
  </button>

  <div class="navbar-collapse">
  </div>

  <form class="d-flex me-5 sbox">
      <input type="search" class="form-control me-2 search-bar" placeholder="search">
      <button type="submit" class="btn btn-outline-light btn-danger search-bar">search</button>
  </form>
</nav>
  
    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row justify-content-center mt-3"  *ngFor="let game of Games">
          <div class="col-lg-30 col-xxl-24">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-md-20 col-lg-4 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="{{game.gameImage}}"
                        class="w-100" />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h2>{{game.gameName}}</h2>
                    <p class=" mb-4 mb-md-0">
                      {{game.gameDetails}}
                    </p>
                    <div class="mt-1 mb-0 text-muted small">
                      <span>100% cotton</span>
                      <span class="text-primary"> • </span>
                      <span>Light weight</span>
                      <span class="text-primary"> • </span>
                      <span>Best finish<br /></span>
                    </div>
                    
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">{{game.gamePrice}}</h4>
                    </div>
                    <h3 class="text-success">Timing : {{game.time}}</h3>
                    <h3 class="text-success">Slots : {{game.slots}}</h3>
                    <div class="d-flex flex-column mt-4">
                      <button class="btn btn-primary btn-sm" type="button" (click)="onupdate(game.gameId)">update</button>
                      <button class="btn btn-outline-danger btn-sm mt-2" type="button" (click)="ondelete(game.gameId)">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>